.launchScreen{
    background-color: black;
    width: 100%;
    padding: 3rem 6rem 3rem 6rem;
}
h1{
    /* background-color: #CCCCCC; */
    color: #FF6600;
}
.tagline{
    color: #CCCCCC;
}
.cart{
    float: right;
    margin-top: -7rem;
    width: 10rem;
}

.btn{
    border-color: #CCCCCC;
    color: #CCCCCC;
}