.checkoutPage{
    background-color: #CCCCCC;
    padding: 0rem 6rem 0rem 6rem;
}

.container{
    padding: 1%;
}
tr{
    height: 5px;
}
p{
    padding: 0.5rem;
}
.col-3{
    text-align: center;
    padding: 2px 0;
}
.btn{
    border-color: #CCCCCC;
}
.card-body{
    padding: 1rem 0.5rem !important;
}
.btn:hover{
    background-color: #CCCCCC;
}



