<div class="itemPage">
  <div>
    <h3>Add items to the cart</h3>
    <button class="btn btn-primary" (click)="addItem()">CheckOut {{itemCount}}</button>
  </div>
<app-checkout #checkoutRef *ngIf="itemCount" [addList]="itemCount" (updateItem)="removeItem($event)"></app-checkout>
<h2>Items List</h2>
<div class="row">
<div class="card">
    <img class="card-img-top" src="assets/apple.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Apples {{itemCount}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="actions"><button (click)="addItem()"><img src="assets/icons8-add-30.png" class="add" alt="additem"></button> 2.39
      <button (click)="displayText()"><img src="assets/icons8-minus-30.png" class="minus" alt="removeitem"></button></div>
    </div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/Oranges.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Oranges</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="actions"><button (click)="addItem()"><img src="assets/icons8-add-30.png" alt="additem"></button> 1.39
      <button (click)="displayText()"><img src="assets/icons8-minus-30.png" alt="removeitem"></button></div>
  </div>
</div>
</div>
</div>