.cart{
    width: 5rem;
    height: 5rem;
    float: right;
}
h2{
    color:  #CCCCCC;
}
.itemPage{
    background-color: #CCCCCC;
    padding: 0rem 6rem 0rem 6rem;
}
.card-title{
    color: #FF6000;
}
.check{
    background-color: #FF6000;
    color: #CCCCCC;
    float: right;
    text-align: center;
    box-shadow: none;
    border: none;
    border-radius: 0.5rem;
}
.title{
    display: inline-flex;
    width: 100%;
}
h3{
    width: 90%;
}
.card{
    width: 18rem;
    margin: 1rem;
}
.add, .minus{
    border: none;
    background-color: white;
}
